.margin-bottom-15 {
  margin-bottom: 15px;
}

#customers {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: 15px;
  margin-right: 15px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
